<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HouseBuying</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HouseBuying.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container p-2">
                <!-- Branding -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HouseBuying</a>
                

                <!-- Mobile Toggle Button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar Items -->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <!-- Left-aligned Menu Items -->
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link item-header text-dark" asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i> Home</a>
                        </li>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link item-header dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-gear"></i> Management
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" asp-controller="House" asp-action="Index"><i class="bi bi-headset"></i> House</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Addresses" asp-action="Index"><i class="bi bi-headset"></i> Address</a>
                                    </li
                                    <li>
                                        <a class="dropdown-item" asp-controller="Orders" asp-action="GetAllOrders"><i class="bi bi-headset"></i> Orders</a>
                                    </li>
                                  
                                   

                                </ul>
                            </li>
                        }
                    </ul>

                    <!-- Right-aligned Search Form -->
             
                    <form class="d-flex" role="search" asp-controller="Home" asp-action="Filter">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchString">
                        <button class="btn btn-search " type="submit">Search</button>
                    </form>
                    <ul class="navbar-nav">
                        @await Component.InvokeAsync("ShoppingCartSummary")
                    </ul>
                </div>
            </div>
            <partial name="_LoginPartial"/>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HouseBuying - 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
