@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootstrap Site</title>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/other.css" />
</head>
<body>
    <div class="container text-center">
        <!-- header  -->
        <header>
            <a asp-page="./Home">
                <img class="logo" src="/Images/Logo.png" alt="logo" />
            </a>
        </header>
        <div class="login-wrapper">
            <div class="login-box">
                <div class="login-info">
                    <div class="login-desc">
                        <h1>Resend email confirmation</h1>
                        <form method="post" class="form-login">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.Email" class="form-label"> Email <span>*</span> </label>
                                <input asp-for="Input.Email" type="email"
                                       class="form-control"
                                       placeholder="Enter Email"
                                        aria-required="true" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <button type="submit" class="w-100 btn btn-lg " id="btn-reset-pass">Resend</button>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
